body {
    background-color: #2e2e2e;
    color: white;
    font-family: 'Helvetica', 'Verdana', 'Roboto', sans-serif;
}
table {
    border-collapse: collapse;
    width: 85vw;
    margin: 20px auto;
}
.rowlink::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 55px;
    z-index: 0;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid white;
}
th {
    background-color: #2e2e2e;
    color: white;
}
tr {
    position: relative;
    -webkit-transform: translateZ(0);
}
tr:nth-child(even) {
    background-color: #4d4c4a;
}
.container {
    margin: 20px;
}

table .buttons{
    position: relative;
    display: flex;
    gap: 10px;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    z-index: 1;
}

table .buttons .button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #369bf4;
    flex-grow: 1;
    text-align: center;
}

table .buttons .button:hover {
    background-color: #247cc9;
}

table .buttons .delete-button {
    background-color: #f44336;
}

table .buttons .delete-button:hover {
    background-color: #d32f2f;
}

table .buttons .delete-child-button {
    background-color: #d92c20;
}

table .buttons .delete-child-button:hover {
    background-color: #b5261b;

}

.details-container {
    display: flex;
    justify-content: center;
    width: 60vw;
    margin: 0 auto 40px;
    align-items: flex-start;
    gap: 20px;
}

@media screen and (max-width: 1080px) {
    .details-container {
        flex-direction: column;
        width: 80vw;
        align-items: stretch;
    }
}

.details-container .details {
    padding: 30px;
    flex: 5;
    background-color: #3f3f3f;
}

.details-container .details h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
}

.details-container .itemImage{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: stretch;
}

.details-container .itemImage img{
    width: 100%;
    border-radius: 5px;
}

.details-container .itemImage .buttons{
    display: flex;
    gap: 10px;
    align-items: stretch;
    flex-direction: row;
}

.details-container .itemImage .buttons .button {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #369bf4;
    flex-grow: 1;
    text-align: center;
}

.details-container .itemImage .buttons .button:hover {
    background-color: #247cc9;
}

.details-container .itemImage .buttons .upload-button {
    background-color: #4CAF50;
    flex-grow: 2;
}

.details-container .itemImage .buttons .upload-button:hover {
    background-color: #45a049;
}

.details-container .itemImage .buttons .delete-button {
    background-color: #f44336;
    flex-grow: 2;
}

.details-container .itemImage .buttons .delete-button:hover {
    background-color: #d32f2f;
}

a.location{
    color: inherit;
}

a.location:hover{
    color: #369bf4;
}

.top-nav {
    /* overflow: hidden; */
    height: 5em;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.search-container {
    display: flex;
    flex: content;
    justify-content: center;
}

div.search-container form{
    width: 50vw;
}

.search-container input[type=text] {
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
}

.buttons-container{
    display: flex;
    flex:2;

}
.buttons-container:last-child {
    justify-content: flex-end;
}

.buttons-container a{
    border: 2px solid #4f4f4f;
    background-color: transparent;
    text-decoration: none;
    color: white;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.buttons-container a:nth-child(even){
    border-left: 0px;
}

a.button-selected{
    background-color: #369bf4; !important;
}

a.button-selected:hover{
    background-color: #247cc9; !important;
}

a.button-selected svg{
    fill: white;
}

/* Edit form */

div#ownerships :not(:last-child) .add_property,
div#properties :not(:last-child) .add_property,
div#ownerships :first-child .remove_property,
div#properties :first-child .remove_property{
    display: none;
    /* visibility: hidden; */
}

div.details input, div.details select, div.details textarea{
    width: 100%;
    padding: 10px;
    /* margin-bottom: 8px; */
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
div.details input[type=number] {
    width: 12% !important;
}
div.details textarea {
    flex-basis: 100%
}
div.details input[type=checkbox] {
    width: unset;
}

div.details div#ownerships div, div.details div#properties div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

div.details div#properties div input,
div.details div#properties div select,
div.details div#ownerships div input,
div.details div#ownerships div select{
    width: 25%;
}

div.details div#ownerships div,
div.details div#properties div{
    margin: 10px 0;
}

div.details button{
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-align: center;
}

div.details button.add_property, button#form-edit-submit{
    background-color: #4CAF50;
}
div.details button.add_property:hover, button#form-edit-submit:hover{
    background-color: #45a049;
}
div.details button.remove_property{
    background-color: #f44336;
}
div.details button.remove_property:hover{
    background-color: #d32f2f;
}
div.details p.error-message{
    color: #f44336;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
}

div.details button.delete-button{
    background-color: #f44336;
}
div.details button.delete-button:hover{
    background-color: #d32f2f;
}