<!DOCTYPE html>
<html>
<head>
    <title>
        {% if detailedItem %}
        {{ detailedItem.name }}
        {% else %}
        Inventory
        {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"" />
</head>
<body>
    <div class="container">
        <!-- <h1>{{ header }}</h1> -->
        {% block topnav %}
        <div class="top-nav">
            <div class="buttons-container">
                <a href="../" class="button">
                    <svg width="20" height="20" viewBox="0 0 20 17" fill="#4f4f4f" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 17V11H12V17H17V9H20L10 0L0 9H3V17H8Z"/>
                    </svg>        
                </a>
                {% if detailedItem %}{% if detailedItem.parent %}
                <a href="{{ detailedItem.parent.id }}" title="{{ detailedItem.parent.name }}" class="button">
                    <svg width="33" height="33" viewBox="34 34 35 35" fill="#4f4f4f" xmlns="http://www.w3.org/2000/svg">
                        <path d="M42 57L51 48L60 57H42Z"/>
                    </svg>                        
                </a>
                {% endif %}{% endif %}
            </div>
            <div class="search-container">
                <form action="/search" method="POST">
                    <input type="text" name="search" placeholder="Search for any item...">
                </form>
            </div>
            <div class="buttons-container">
                {% if adding %}
                <a href="/" class="button button-selected">
                {% else %}
                <a href="/add" class="button">
                {% endif %}
                    <svg width="20" height="20" viewBox="6 6 22 22" fill="#4f4f4f" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.125 17.875H17.875V26.125H15.125V17.875H6.875V15.125H15.125V6.875H17.875V15.125H26.125V17.875Z"/>
                    </svg>
                </a>
                {% if detailedItem %}
                {% if editing %}
                <a href="/details/{{ detailedItem.id }}" class="button button-selected">
                {% else %}
                <a href="/edit/{{ detailedItem.id }}" class="button">
                {% endif %}
                    <svg width="20" height="20" viewBox="0 0 18 19" fill="#4f4f4f" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15.0422V19H3.74948L14.8079 7.32718L11.0585 3.36939L0 15.0422ZM17.7075 4.26649C18.0975 3.85488 18.0975 3.18997 17.7075 2.77836L15.3679 0.308707C14.9779 -0.102902 14.348 -0.102902 13.9581 0.308707L12.1283 2.24011L15.8778 6.19789L17.7075 4.26649Z" />
                    </svg>
                </a>
                {% endif %}
            </div>
        </div>
        {% endblock %}
        {% block topContainer %}
        {% endblock %}
        {% block table %}
        {% if items|length > 0 %}
        <table>
            <tr>
                <th>Name</th>
                <th>Barcode</th>
                <th>Location</th> <!-- Parent, to be deleted from showing -->
                <th>Ownership</th>
                <th>Child count</th>
                <th></th>
            </tr>
            {% for item in items %}
            <tr title="Item ID: {{ item.id }}&#10;Created: {{ item.created }}&#10;Modified: {{ item.modified }}" >
                <td><a href="/details/{{ item.id }}" class="rowlink"></a>{{ item.name }}</td>
                <td title="{% if item.barcodes|length > 1 %}{% for barcode in item.barcodes %}{{ barcode.barcode }}, {% endfor %}{% endif %}">
                    {% if item.barcodes|length > 1 %}
                    {{ item.barcodes[0].barcode }} +
                    {% elif item.barcodes|length == 1 %}
                    {{ item.barcodes[0].barcode }}
                    {% else %}
                    No barcode
                    {% endif %}
                </td>
                <td>{{ item.parent.name }}</td>
                <td title="{% if item.ownerships|length > 1 %}{% for ownership in item.ownerships %}{{ ownership.owner.name }} - {{ ownership.own }}%&#10;{% endfor %}{% endif %}">
                    {% if item.ownerships|length > 1 %}
                    Shared
                    {% elif item.ownerships|length == 1 %}
                    {{ item.ownerships[0].owner.name }}
                    {% else %}
                    No owner
                    {% endif %}
                </td>
                <td>{{ item.children|length }}</td>
                <td>
                    <div class="buttons">
                        {% if item.children|length > 0 %}
                        <form action="/delete/{{ item.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete &quot;{{ item.name }}&quot;?');">
                            <input type="submit" class="button delete-child-button" value="Delete with children" />
                        </form>
                        {% endif %}
                        <form action="/delete/{{ item.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete &quot;{{ item.name }}&quot;?');">
                            <input type="submit" class="button delete-button" value="Delete" />
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endblock %}
    </div>
</body>
</html>
