<!DOCTYPE html>
<html>
<head>
    <title>{{ header }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"" />
</head>
<body>
    <div class="container">
        <h1>{{ header }}</h1>
        {% block topContainer %}
        {% endblock %}
        {% block table %}
        {% if items|length > 0 %}
        <table>
            <tr>
                <th>Name</th>
                <th>Barcode</th>
                <th>Location</th> <!-- Parent, to be deleted from showing -->
                <th>Ownership</th>
                <th>Child count</th>
                <th>Creation date</th>
                <th>Modify date</th>
                <th></th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td title="{% if item.barcodes|length > 1 %}{% for barcode in item.barcodes %}{{ barcode.barcode }}, {% endfor %}{% endif %}">
                    {% if item.barcodes|length > 1 %}
                    {{ item.barcodes[0].barcode }} +
                    {% elif item.barcodes|length == 1 %}
                    {{ item.barcodes[0].barcode }}
                    {% else %}
                    No barcode
                    {% endif %}
                </td>
                <td>{{ item.parent.name }}</td>
                <td title="{% if item.ownerships|length > 1 %}{% for ownership in item.ownerships %}{{ ownership.owner.name }} - {{ ownership.own }}%&#10;{% endfor %}{% endif %}">
                    {% if item.ownerships|length > 1 %}
                    Shared
                    {% elif item.ownerships|length == 1 %}
                    {{ item.ownerships[0].owner.name }}
                    {% else %}
                    No owner
                    {% endif %}
                </td>
                <td>{{ item.children|length }}</td>
                <td>{{ item.created }}</td>
                <td>{{ item.modified }}</td>
                <td>
                    <a href="/details/{{ item.id }}" class="button details-button">
                        <button class="button details-button" type="submit">Details</button>
                    </a>
                    <form action="/delete/{{ item.id }}" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete &quot;{{ item.name }}&quot;?');">
                        <button class="button delete-button" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endblock %}
    </div>
</body>
</html>
