<!DOCTYPE html>
<html>
<head>
    <title>
        {% if detailedItem %}
        {{ detailedItem.name }}
        {% else %}
        Inventory
        {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <div class="container">
        <!-- <h1>{{ header }}</h1> -->
        {% block topnav %}
        <div class="top-nav">
            <div class="buttons-container">
                <a href="../" class="button">
                    <i data-lucide="home"></i>
                </a>
                {% if detailedItem %}{% if detailedItem.parent %}
                <a href="{{ detailedItem.parent.id }}" title="{{ detailedItem.parent.name }}" class="button">
                    <i data-lucide="arrow-up"></i>       
                </a>
                {% endif %}{% endif %}
            </div>
            <div class="search-container">
                <form action="/search" method="GET">
                    <input type="text" name="q" id="search" placeholder="Search for any item..." value="{% if search %}{{ search }}{% endif %}"
                    autocomplete="off" onfocus="this.select();" {% if not adding and not editing %}autofocus{% endif %} />
                </form>
            </div>
            <div class="buttons-container">
                {% if adding %}
                <a href="/" class="button button-selected">
                {% else %}
                    {% if detailedItem %}
                    <a href="/add?p_id={{detailedItem.id}}" class="button">
                    {% else %}
                    <a href="/add" class="button">
                    {% endif %}
                {% endif %}
                    <i data-lucide="plus"></i>
                </a>
                {% if detailedItem %}
                {% if editing %}
                <a href="/details/{{ detailedItem.id }}" class="button button-selected">
                {% else %}
                <a href="/edit/{{ detailedItem.id }}" class="button">
                {% endif %}
                    <i data-lucide="edit"></i>
                </a>
                {% endif %}
            </div>
        </div>
        {% endblock %}
        {% block topContainer %}
        {% endblock %}
        {% block table %}
        {% if items and items.items|length > 0 %}
        <div class="table-container">
            <div class="delete-dialog dialog-box" id="delete-dialog">
                <p>Are you sure you want to delete the selected items?</p>
                <div class="buttons">
                    <button class="button delete-button" id="delete-yes">Yes</button>
                    <button class="button" id="delete-no">No</button>
                </div>
            </div>
            <div class="change-ownership-dialog dialog-box" id="change-ownership-dialog">
                <p>Change ownership of the selected items</p>
                <select id="change-ownership-dialog-ownerships" class="owners">
                    <option value="">No owner</option>
                    {% for owner in owners %}
                    <option value="{{ owner.id }}">{{ owner.name }}</option>
                    {% endfor %}
                </select>
                <div class="buttons">
                    <button class="button upload-button" id="change-ownership-yes">Change</button>
                    <button class="button" id="change-ownership-no">Cancel</button>
                </div>
            </div>
            <div class="change-parent-dialog dialog-box" id="change-parent-dialog">
                <p>Change parent of the selected items</p>
                <input type="text" id="change-parent-dialog-parent" name="parent" />
                <div class="buttons">
                    <button class="button upload-button" id="change-parent-yes">Change</button>
                    <button class="button" id="change-parent-no">Cancel</button>
                </div>
            </div>
            <table>
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll" />
                    </th>
                    <th>Name</th>
                    <th>Barcode</th>
                    {% if show_parent %}
                    <th>Location</th>
                    {% endif %}
                    <th>Ownership</th>
                    <th>Children</th>
                    <th></th>
                </tr>
                {% for item in items.items %}
                <tr title="Item ID: {{ item.id }}&#10;Created: {{ item.created }}&#10;Modified: {{ item.modified }}" >
                    <td>
                        <input type="checkbox" id="{{ item.id }}" class="select" />
                    </td>
                    <td><a href="/details/{{ item.id }}">{{ item.name }}</a></td>
                    <td title="{% if item.barcodes|length > 1 %}{% for barcode in item.barcodes %}{{ barcode.barcode }}, {% endfor %}{% endif %}">
                        <a href="/details/{{ item.id }}">
                        {% if item.barcodes|length > 1 %}
                        {{ item.barcodes[0].barcode }} +
                        {% elif item.barcodes|length == 1 %}
                        {{ item.barcodes[0].barcode }}
                        {% else %}
                        No barcode
                        {% endif %}
                        </a>
                    </td>
                    {% if show_parent %}
                    <td>{% if item.parent %}<a href="/details/{{ item.parent.id }}">{{ item.parent.name }}</a>{% endif %}</td>
                    {% endif %}
                    <td title="{% if item.ownerships|length > 1 %}{% for ownership in item.ownerships %}{{ ownership.owner.name }} - {{ ownership.own }}%&#10;{% endfor %}{% endif %}">
                        {% if item.ownerships|length > 1 %}
                        Shared
                        {% elif item.ownerships|length == 1 %}
                        {{ item.ownerships[0].owner.name }}
                        {% else %}
                        No owner
                        {% endif %}
                    </td>
                    <td>{{ item.children|length }}</td>
                    <td>
                        <div class="buttons">
                            {% if item.children|length > 0 %}
                            <form action="/delete/{{ item.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete &quot;{{ item.name }}&quot;?');">
                                <button class="button delete-child-button" type="submit"><i data-lucide="list-x"></i></button>
                            </form>
                            {% endif %}
                            <form action="/delete/{{ item.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete &quot;{{ item.name }}&quot;?');">
                                <button class="button delete-button" type="submit"><i data-lucide="trash-2"></i></button>
                            </form>
                            <form action="/edit/{{ item.id }}" method="GET">
                                <button class="button edit-button" type="submit"><i data-lucide="edit"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="buttons" id="table-modify-buttons">
                <button class="button delete-button" id="delete-selected" >Delete selected</button>
                <button class="button" id="change-ownership">Modify ownership</button>
                <button class="button" id="change-parent">Modify parent</button>
            </div>
            <p id="table-error-message"></p>
            <script src="{{ url_for('static', filename='checkboxes.js') }}"></script>
            <div class="page-items">
                {{ items.first }} - {{ items.last }} of {{ items.total }}
            </div>
            {% if items.pages > 1 %}
                <div class="pagination buttons">
                {% set args = request.args.copy() %}
                {% set _ = args.pop('page', None) %}
                {% if detailedItem %}
                    {% set _ = args.update({'item_id': detailedItem.id}) %}
                {% endif %}

                {% if items.has_prev %}
                    <a href="{{ url_for(request.endpoint, page=items.prev_num, **args) }}">
                        <button class="button">&lt;</button>
                    </a>
                {% endif %}
                {% for page in items.iter_pages() %}
                    {% if page %}
                    {% if page != items.page %}
                        <a href="{{ url_for(request.endpoint, page=page, **args) }}">
                            <button class="button">{{ page }}</button>
                        </a>
                    {% else %}
                        <button class="button button-selected">{{ page }}</button>
                    {% endif %}
                    {% else %}
                    <button class="button button-disabled">...</button>
                    {% endif %}
                {% endfor %}
                {% if items.has_next %}
                    <a href="{{ url_for(request.endpoint, page=items.next_num, **args) }}">
                        <button class="button">&gt;</button>
                    </a>
                {% endif %}
                </div>
            {% endif %}
        </div>
        {% endif %}
        {% endblock %}
    </div>
    <script>
      lucide.createIcons();
    </script>
</body>
</html>
