{% extends 'base.html' %}
{% block topContainer %}
<div class="details-container">
    <div class="details">
        <h1>{{ detailedItem.name }}</h1>
        <p>
            {% if detailedItem.barcodes|length > 1 %}
            <strong>Barcodes:</strong>
            <ul>
                {% for barcode in detailedItem.barcodes %}
                <li>{{ barcode.barcode }}</li>
                {% endfor %}
            </ul>
            {% elif detailedItem.barcodes|length == 1 %}
            <strong>Barcode:</strong> {{ detailedItem.barcodes[0].barcode }}
            {% else %}
            <strong>Barcode:</strong> No barcode found
            {% endif %}
        </p>
        <p>Parent: {% if detailedItem.parent %}<a class="location" href="{{ detailedItem.parent.id }}">{{ detailedItem.parent.name }}</a>{% else %} not assigned {% endif %}</p>
        <p>Children: {{ detailedItem.children|length }}</p>
        {% for ownership in detailedItem.ownerships %}
        <p>Owner: {{ ownership.owner.name }}{% if ownership.own != 100 %} - {{ ownership.own }}%{% endif %}</p>
        {% endfor %}
        {% if detailedItem.ownerships|length == 0 %}
        <p>No ownership found</p>
        {% endif %}
        <h3>Extra properties</h3>
        {% for prop in detailedItem.properties %}
        <p>{{ prop.property.name }}: {{ prop.value }}</p>
        {% endfor %}
        {% if detailedItem.properties|length == 0 %}
        <p>No extra properties found</p>
        {% endif %}
        <p>Creation date: {{ detailedItem.created }}</p>
        <p>Modify date: {{ detailedItem.modified }}</p>
    </div>
    <div class="itemImage">
        {% if photos_base64[0] %}
        <img src="data:image/jpeg;base64, {{ photos_base64[0] }}" alt="Image" />
        {% else %}
        <img src="{{ url_for('static', filename='no-image.jpg') }}" alt="No image" />
        {% endif %}
        <input type="file" name="photo" id="photo-upload" accept="image/jpeg" style="display: none;">
        <script>
            document.getElementById('photo-upload').addEventListener('change', function(e) {
                var file = e.target.files[0];
                var reader = new FileReader();
                // Send post request with file to /add_photo/<int:item_id>
                var formData = new FormData();
                formData.append('photo', file);
                fetch('/add_photo/{{ detailedItem.id }}', {
                    method: 'POST',
                    body: formData
                })
                reader.onloadend = function () {
                    document.querySelector('.itemImage img').src = reader.result;
                    console.log(baseString); 
                };
                reader.readAsDataURL(file);
                // log success or error
                console.log('Photo uploaded');

            });
        </script>
        <div class="buttons">
            <label class="next-button button">&lt</label>
            <label for="photo-upload" class="upload-button button">Upload Photo</label>
            <label class="delete-button button">Delete</label>
            <label class="prev-button button">&gt</label>
        </div>
    </div>
</div>
<!-- {% if items|length > 0 %}<h2>Entity content:</h2>{% endif %} -->
{% endblock %}