{% extends 'base.html' %}
{% block topContainer %}
        <div class="form-container">
            <form action="/add" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br>

                <label for="barcode">Barcode:</label>
                <input type="text" id="barcode" name="barcode" required><br>

                <label for="parent">Location:</label>
                <input type="text" id="parent" name="parent" required><br>

                <input type="submit" value="Add Item">
            </form>
        </div>
{% endblock %}